{% if include.page %}
    {% assign side-project = include.page %}
{% else if include.title %}
    {% assign side-project = site.side-projects
        | where_exp:"side-project", "side-project.slug == include.title" 
        | first %}
{% endif %}

<a href="{{side-project.url}}" class="side-project-box">
    {% if side-project.thumbnail contains "mp4" %}
        {% include gif-like.html w="100%" h="100%" src=side-project.thumbnail %}
    {% else %}
        <img src="{{side-project.thumbnail}}"/>
    {% endif %}
    <div class="side-project-text">
        <h3>
            {{side-project.title}}
        </h3>
    </div>
</a>