{% if include.start or include.end or include.languages or include.tags or include.miniature or include.summary %}
<table class="summary">
    <tr>
        <td>
            <ul>
                {% if include.start and include.end %}
                    <li>
                        {{include.start}} - {{include.end}}
                    </li>
                {% else %}
                    {% if include.start %}
                        <li>
                            Start: {{include.start}}
                        </li>
                    {% endif %}
                    {% if include.end %}
                        <li>
                            End: {{include.end}}
                        </li>
                    {% endif %}
                {% endif %}
                {% if include.languages %}
                    <li>
                        <div class="chips">
                            {% assign langSize = include.languages | size %}
                            Language{% if langSize > 1 %}s{% endif %}:
                            {% for language in include.languages %}
                                {% include chip.html text=language %}
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                {% if include.tags %}
                    <li>
                        <div class="chips">
                            Tags:
                            {% for tag in include.tags %}
                                {% include chip.html text=tag %}
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}

            </ul>
        </td>
        {% if include.miniature %}
            {% if include.miniature == "title" %}
                {% assign miniature-src = "/assets/media/" | append: include.title | append: "/miniature.mp4" | downcase %}
            {% else %}
                {% assign miniature-src = include.miniature %}
            {% endif %}
                <td rowspan="2" style="width:180px">
                    {% include gif-like.html src=miniature-src w="180px" h="180px" %}
                </td>
        {% endif %}
    </tr>
    {% if include.summary %}
        <tr>
            <td>
                {{include.summary | markdownify}}
            </td>
        </tr>
    {% endif %}
</table>
{% endif %}